/* general app structure */
html * {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.Header {
  height: 50px;
}

.content {
  height: 100%;
  margin-top: -50px;
  padding-top: 50px;
}
