/* general app structure */
html * {
  box-sizing: border-box;
}

.Header {
  height: 40px;
}

.content {
  height: 100%;
  margin-top: -40px;
  padding-top: 40px;
}

.main-content {
  height: 100%;
  margin-right: 240px;
}

.main-content .Controls {
  height: 140px;
}

.main-content .playlist-wrapper {
  height: 100%;
  margin-top: -140px;
  padding-top: 140px;
}

.main-content .playlist-wrapper .PlaylistPane {
  height: 100%;
}

.Sidebar {
  float: right;
  width: 240px;
  height: 100%;
}
