.landing {
  margin: 0px 70px;
  padding: 40px 15px;
}

.landing .lead {
  font-size: 20px;
  text-align: center;
}

.landing form {
  width: 500px;
  margin: 0 auto;
}

.landing form > .input-group {
  width: 50%;
  display: inline-block;
  padding: 5px;
}
