<html>
  <head>
    <meta charset="utf-8">
    <title>Peertable</title>
    {{#if vars}}
    <script>
      window.vars = {{{vars}}};
    </script>
    {{/if}}
  </head>
  <body>
    <div id="app-container">
    </div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
