.JoinView.main-content {
  height: 100%;
  margin-right: 240px;
}

.JoinView.main-content .Controls {
  height: 140px;
}

.JoinView.main-content .playlist-wrapper {
  height: 100%;
  margin-top: -140px;
  padding-top: 140px;
}

.JoinView.main-content .playlist-wrapper .PlaylistPane {
  height: 100%;
}

.JoinView.Sidebar {
  float: right;
  width: 240px;
  height: 100%;
}
