.CreateView {
  margin: 0px 70px;
  padding: 40px 15px;
}

.CreateView .lead {
  font-size: 20px;
  text-align: center;
}

.RoomForm {
  width: 500px;
  margin: 0 auto;
}

.RoomForm .input-group {
  width: 50%;
  display: inline-block;
  padding: 5px;
}

