.app {
  height: 100%;
  width: 480px;
}

.app .left-pane,
.app .right-pane {
  padding: 20px 40px;
}

.app .left-pane .player {
  margin-bottom: 40px;
}

.app .palette-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  max-height: 100%;
}

@media (min-width: 960px) {
  .app {
    width: 960px;
  }

  .app .left-pane {
    float: left;
    height: 100%;
    width: 50%;
    position: relative;
  }

  .app .right-pane {
    float: right;
    height: 100%;
    width: 50%;
    position: relative;
  }

  .app .palette-container {
    left: 480px;
    width: 480px;
  }
}
