nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/") Influx
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        if room
          li: a(href="/"+room) Your Room