.col-md-4.col-md-offset-4
  ul.list-group
    each song in songs
      li.list-group-item= song
  .input-group
    span.input-group-btn
      span.btn.btn-default.btn-file
        | Browse...
        input#song-file(type="file")
    input#song-disp.form-control(type="text" readonly)
    span.input-group-btn
      button#add-song.btn.btn-primary
        span.glyphicon.glyphicon-plus