.palette-container {
  padding: 0 40px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: Roboto, arial, sans-serif;
  font-weight: 400;
}

.palette {
  height: 100%;
  border: 2px solid black;
  border-bottom: 0;
  border-radius: 16px 16px 0 0;
  background-color: lightblue;
  height: 432px;
  overflow: hidden;
}

.palette.collapsed {
  height: 32px;
}

.palette .tabs {
  border-bottom: 1px solid black;
  height: 30px;
  text-align: center;
}

.palette .tabs > * {
  float: left;
}

.palette .spaced-tabs {
  width: 100%;
  height: 100%;
  padding-right: 60px;
  margin-right: -60px;
}
.palette .spaced-tabs > .tab {
  width: 25%;
}
.palette .tabs > .tab {
  width: 30px;
}
.palette .tabs > .tab {
  width: 30px;
}

.palette .tab {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: solid black;
  border-width: 0 1px 0 0;
  cursor: pointer;
  overflow: hidden;
}

.palette .tab:hover {
  background-color: rgba(0,0,0,.1);
}

.palette .tabs > .tab:last-child {
  border: none;
}

.palette .tab-settings {
  height: 100%;
  padding: 
}

.palette .icon {
  display: inline-block;
  font-family: FontAwesome;
  width: 24px;
}

.palette .palette-content {
  display: none;
  width: 100%;
  height: 400px;
  padding: 10px 10px 0 10px;
  /* bottom padding is accounted for in the last child of the .scroll element */
}

.palette .palette-stack.show-soundcloud .palette-soundcloud {
  display: block;
}

.palette .palette-stack.show-youtube .palette-youtube {
  display: block;
}

.palette .palette-stack.show-spotify .palette-spotify {
  display: block;
}

.palette .palette-stack.show-upload .palette-upload {
  display: block;
}

.palette .palette-stack.show-settings .palette-settings {
  display: block;
}

.search-pane .input-group button.overlay-right {
  margin: 5px;
  padding: 4px;
  cursor: pointer;
  border: none;
  background: none;
}

.search-pane > .scroll-container {
  height: 340px;
}

.search-pane > .scroll-container > .scroll > :last-child {
  margin-bottom: 10px;
}

.search-pane .results-description {
  margin: 0 -15px 12px 0;
}

.search-pane .search-results {
  margin-right: -15px;
}
