.player {
  width: 100%;
  background: darkcyan;
  border: 2px solid black;
  padding: 10px;
}

.player .widget iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.player .widget-sc {
  height: 116px;
}

.player .controls {
  height: 40px;
}
