doctype html
html(lang = "en")
  head
    script(src="/bower/jquery/dist/jquery.min.js")
    script(src="/bower/peerjs/peer.min.js")
    script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
    link(href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    block head
  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") Influx
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            if room
              li: a(href="/"+room) Your Room
            if user
              li: b.navbar-text= user.name
              li: a(href="/logout") logout
    .container
      block main
