extends layout

block head
  title Influx Login

block main
  .row
    .col-md-4.col-md-offset-4
      h5 Choose a fake login
      form.form-inline(action='', method='post')
        div.input-group
          button.btn.btn-default(type='submit', name='user', value='a') A
        div.input-group
          button.btn.btn-default(type='submit', name='user', value='b') B
        div.input-group
          button.btn.btn-default(type='submit', name='user', value='c') C
        div.input-group
          button.btn.btn-default(type='submit', name='user', value='d') D
