doctype html
html(lang = "en")
  head
    include includes/head
    script(src="/scripts/room.js") 
    link(href="/stylesheets/room.css" rel="stylesheet") 
    title= "Influx: " + room
  body
    include includes/nav
    .page-header.col-md-8.col-md-offset-2
      h2= "Room: " + room
    .col-md-6.col-md-offset-3
      h3 Not Found!
    include includes/footer